

.color-black{
  background-color:salmon;
}

.card-image:hover img{
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(90%);
}

.card-image{
  overflow: hidden;
  
}

.card:hover{
  box-shadow: -11px 10px 35px -4px rgba(0,0,0,0.91);
  cursor: pointer;
}

.card-large{
  height: 250px;
  
}

.card-content{
  height: 26vh;
}

/*la paginacion*/

.pagination{
  display: flex;
  justify-content: center;
  margin: 20px;

}

.pagination-button{
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.pagination-button:disabled{
  color: #757575
  border-color #757575
}

.container-paginador{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* loader*/

.contenedor{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  animation: flix 3s ease-in infinite alternate;
}
.loader:before {
  content: '';
  display: block;
  font-size: 0;
  width: 48px;
  height: 48px;
  background-color: #fff ;
  background-image:
    radial-gradient(circle 12px at 22px 22px, #FF3D00 100%, transparent 0),
    radial-gradient(circle 10px at 6px 40px, #FF3D00 100%, transparent 0),
    radial-gradient(circle 14px at 31px -6px, #FF3D00 100%, transparent 0),
    radial-gradient(circle 5px at 40px 30px, #FF3D00 100%, transparent 0);
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}
.loader:after {
    content: '';
    position: absolute;
    top: 0%;
    transform: translate(-50% , -100%);
    left: 50%;
    width: 24px;
    height: 12px;
    background: #fff;
    border-radius: 50px 50px 0 0;
  }

@keyframes flix {
  0%  , 60% { transform: rotate(-10deg)}
  100%  , 30% , 80% { transform: rotate(5deg)}
}
@keyframes rotate {
  100%   { transform: rotate(360deg)}
}

.esconder{
  display: none;
}
